$def with (clusters, total, json_loads)
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>COSA NOSTRA</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="static/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="static/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="static/css/demo.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="static/css/themify-icons.css" rel="stylesheet">

</head>
</head>

<div class="wrapper">
  <div class="sidebar" data-background-color="black" data-active-color="danger">
      <div class="sidebar-wrapper">
            <div class="logo">
                <img src="static/img/logo.png" alt=" Gli farò un'offerta che non potrà rifiutare" class="img-responsive center-block" />             

            </div>

            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="ti-target"></i>
                        <p>Index</p>
                    </a>
                </li>
<li>                    <a href="/samples">
                        <i class="ti-save"></i>
                        <p>Samples</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/clusters">
                        <i class="ti-view-list-alt"></i>
                        <p>Clusters</p>
                    </a>
                </li>
                <li>
                    <a href="/config">
                        <i class="ti-settings"></i>
                        <p>Configuration</p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="ti-unlock"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
      </div>
    </div>

     <div class="main-panel">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>

               
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Clusters</h4>
    <p>Total of $total cluster(s) in the database.</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
  $if len(clusters) == 0:
    <h2>Clusters</h2>
    No clusters yet?
  $else:
      <tr>
        <th>Description</th>
        <th>Generations</th>
        <th>Min. Functions</th>
        <th>Max. Functions</th>
        <th>Last update</th>
      </tr>
      $for row in clusters:
        <tr>
          <td>
            <a href="/view_cluster?id=$row['id']">
          $if row["description"] is None:
            &lt;Unnamed&gt;
          $else:
            $code:
              desc = row["description"]
              if len(desc) > 80:
                desc = desc[:80] + "..."
              desc = desc.replace("\n", ", ")
            $:desc</a>
            &nbsp;
            $if row["tags"] is not None:
              $for tag in json_loads(row["tags"]):
                <span class="tag">$tag</span>
          </td>
          <td>$row["generation_level"]</td>
          <td>$row["min_funcs"]</td>
          <td>$row["max_funcs"]</td>
          <td>$row["last_update"]</td>
        </tr>
      $if total > len(clusters):
        <tr>
          $ hidden = total - len(clusters)
          <td colspan="8" align="center">$hidden hidden clusters. <a href="/clusters?show_all=1">Show all clusters</a></td>
        </tr>
</table>
</div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
  
                    </ul>
                </nav>

        <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, Copyright - 2016 Joxean Koret </i> · Gli farò un'offerta che non potrà rifiutare
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="static/js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="static/js/bootstrap.min.js" type="text/javascript"></script>

  <!--  Checkbox, Radio & Switch Plugins -->
  <script src="static/js/bootstrap-checkbox-radio.js"></script>

  <!--  Charts Plugin -->
  <script src="static/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="static/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
  <script src="/static/js/paper-dashboard.js"></script>

  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="static/js/demo.js"></script>


</html>

